<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/bullet.js"></script>

@using Highsoft.Web.Mvc.Charts

@Html.Highsoft().GetHighcharts(new Highcharts
{
    Chart = new Chart
    {
        Inverted = true,
        MarginLeft = 135,
        Type = ChartType.Bullet,
        MarginTop = 40,
        Height = 150
    },
    Title = new Title
    {
        Text = "2017 YTD"
    },
    Legend = new Legend
    {
        Enabled = false
    },
    XAxis = new List<XAxis>
    {
        new XAxis
        {
            Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">Revenue</span><br/>U.S. $ (1,000s)" }
        }
    },
    YAxis = new List<YAxis>
    {
        new YAxis
        {
            GridLineWidth = 0,
            PlotBands = new List<YAxisPlotBands>
            {
                new YAxisPlotBands
                {
                    From = 0,
                    To = 150,
                    Color = "#666"
                },
                new YAxisPlotBands
                {
                    From = 150,
                    To = 225,
                    Color = "#999"
                },
                new YAxisPlotBands
                {
                    From = 225,
                    To = 9e9,
                    Color = "#bbb"
                }
            },
            Title = new YAxisTitle
            {
                Enabled = ""
            }
        }
    },
    PlotOptions = new PlotOptions
    {
        Series = new PlotOptionsSeries
        {
            Color = "#000"
        }
    },
    Credits = new Credits
    {
        Enabled = false
    },
    Exporting = new Exporting
    {
        Enabled = false
    },
    Series = new List<Series>
    {
        new BulletSeries
        {
            Data = new List<BulletSeriesData>
            {
                new BulletSeriesData
                {
                    Y = 275,
                    Target = 250
                }
            }
        }
    },
    Tooltip = new Tooltip
    {
        PointFormat = "<b>{point.y}</b> (with target at {point.target})"
    }
}, "container1")


@Html.Highsoft().GetHighcharts(new Highcharts
{
    Chart = new Chart
    {
        Inverted = true,
        MarginLeft = 135,
        Type = ChartType.Bullet,
        Height = 120
    },
    Title = new Title
    {
        Text = null
    },
    Legend = new Legend
    {
        Enabled = false
    },
    XAxis = new List<XAxis>
    {
        new XAxis
        {
            Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">Profit</span><br/>%" }
        }
    },
    YAxis = new List<YAxis>
    {
        new YAxis
        {
            GridLineWidth = 0,
            PlotBands = new List<YAxisPlotBands>
            {
                new YAxisPlotBands
                {
                    From = 0,
                    To = 20,
                    Color = "#666"
                },
                new YAxisPlotBands
                {
                    From = 20,
                    To = 25,
                    Color = "#999"
                },
                new YAxisPlotBands
                {
                    From = 25,
                    To = 100,
                    Color = "#bbb"
                }
            },
            Labels = new YAxisLabels
            {
                Format = "{value}%"
            }
        },
    },
    PlotOptions = new PlotOptions
    {
        Series = new PlotOptionsSeries
        {
            Color = "#000"
        }
    },
    Credits = new Credits
    {
        Enabled = false
    },
    Exporting = new Exporting
    {
        Enabled = false
    },
    Series = new List<Series>
    {
        new BulletSeries
        {
            Data = new List<BulletSeriesData>
            {
                new BulletSeriesData
                {
                    Y = 22,
                    Target = 27
                }
            }
        }
    },
    Tooltip = new Tooltip
    {
        PointFormat = "<b>{point.y}</b> (with target at {point.target})"
    }
}, "container2")


@Html.Highsoft().GetHighcharts(new Highcharts
{
    Chart = new Chart
    {
        Inverted = true,
        MarginLeft = 135,
        Type = ChartType.Bullet,
        Height = 120
    },
    Title = new Title
    {
        Text = null
    },
    Legend = new Legend
    {
        Enabled = false
    },
    XAxis = new List<XAxis>
    {
        new XAxis
        {
            Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">New Customers</span><br/>Count" }
        }
    },
    YAxis = new List<YAxis>
    {
        new YAxis
        {
            GridLineWidth = 0,
            PlotBands = new List<YAxisPlotBands>
            {
                new YAxisPlotBands
                {
                    From = 0,
                    To = 1400,
                    Color = "#666"
                },
                new YAxisPlotBands
                {
                    From = 1400,
                    To = 2000,
                    Color = "#999"
                },
                new YAxisPlotBands
                {
                    From = 2000,
                    To = 9e9,
                    Color = "#bbb"
                }
            },
            Labels = new YAxisLabels
            {
                Format = "{value}"
            }
        }
    },
    PlotOptions = new PlotOptions
    {
        Series = new PlotOptionsSeries
        {
            Color = "#000"
        }
    },
    Credits = new Credits
    {
        Enabled = true
    },
    Exporting = new Exporting
    {
        Enabled = false
    },
    Series = new List<Series>
    {
        new BulletSeries
        {
            Data = new List<BulletSeriesData>
            {
                new BulletSeriesData
                {
                    Y = 1650,
                    Target = 2100
                }
            }
        }
    },
    Tooltip = new Tooltip
    {
        PointFormat = "<b>{point.y}</b> (with target at {point.target})"
    }
}, "container3")