<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Other IDEs / Web Projects</h2>
    <p class="c1"><span></span></p><p class="c4"><span>If you are using a different IDE then Visual Studio .NET, make sure to find the equivalent of &ldquo;Reference&rdquo; section to add the Highcharts.Net references, or just copy the Highcharts.Web.Mvc.dll file directly to your project’s /bin folder.</span></p><p class="c1"><span></span></p>
</div>
