<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Define the chart in the View</h2>

    <p class="c1"><span></span></p>
    <p class="c4"><span>The chart can be defined anywhere inside the View&rsquo;s HTML definition, based on your page layout. To define the chart, go to cshtml file and copy/paste the following syntax:</span></p>
    
    <p class="c1"><span></span></p>
    <pre>...<br/>@@(Html.Highsoft().Highcharts(<br/>&nbsp; &nbsp; &nbsp; &nbsp; new Highcharts<br/>&nbsp; &nbsp; &nbsp; &nbsp; {<br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Chart = new Chart<br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {<br/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Width = 1087,<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Height = 400,<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Type = ChartType.Area<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br />&nbsp; &nbsp; &nbsp; &nbsp; , &quot;chart&quot;)<br />...</pre>
    
    <p class="c1"><span></span></p>
    <p class="c4">
        <span>In this example, the chart is defined with:</span>
        <ul>
            <li>Height 400 pixels</li>
            <li>Width 1087 pixels</li>
            <li>Type is &ldquo;area&rdquo;</li>
        </ul>
        <span>The second parameter of the Html.Highsoft().Highcharts() directive is the ID of the chart, in this example is &ldquo;chart&rdquo;. The ID is used to obtain a reference to the chart on the client-side to manipulate it with javascript. More info and sample codes are available <a href="~/Highcharts/Demo">online</a>, for example, the <a href="~/Highcharts/Demo/Gallery?demo=LineAjax&theme=default">&ldquo;Ajax Loaded Data, Clickable Points&rdquo;</a> demo.</span>
    </p>
    <p class="c4"><span>If you are using Visual Studio .NET, you will get automatic auto-complete for all the options that are available to the chart. There are many available options - for setting the legend, tooltip, axis and various other aspects of your chart. Click <a href="~/Help/Highcharts/html/index.html">here</a> to get access to a complete API reference documentation.</span></p>
    <p class="c1"><span></span></p>
</div>
