<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Add reference to the View</h2>
    <p class="c4"><span>The first step is to be sure that the library Highcharts.Web.Mvc.dll is available in your projects under the folder /bin, otherwise, check this <a href="~/Highcharts/Demo/Docs?section=VS">section</a> to see how to include the library.</span></p>
    <p class="c4"><span>The next step is to add a reference to the chart in the View of your sample page. This is done by referencing the Highcharts assembly using the following line at the top of the View.</span></p>
    <pre>...<br/>@@using Highsoft.Web.Mvc.Charts<br/>...</pre>
    <p class="c4"><img alt="" src="~/Content/images/script1.png" style="width: 929.00px; height: 490.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
</div>

