<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Other IDEs / Web Projects</h2>
    <p class="c1"><span></span></p><p class="c4"><span>If you are using IDEs &nbsp;different from Visual Studio .NET, make sure you find the equivalent of the &ldquo;References&rdquo; section described above or simply copy the </span><span class="c14">Highcharts.Web.Mvc.dll </span><span>file directly to your project&rsquo;s /bin folder.</span></p><p class="c1"><span></span></p>
</div>
