<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Server-Side System Requirements</h2>
    <p>The product has the following requirements:</p>
    <ul>
        <li class="c4 c11"><span>ASP.NET 4.x +</span></li>
        <li class="c4 c11"><span>ASP.NET MVC 4 +</span></li>
    </ul>
    <p><span>If you wish to use the demos that ship with the product and open them directly in Visual Studio .NET, you need:</span></p>
    <ul class="c15 lst-kix_n1c7rg8yiimm-0 start">
            <li class="c4 c11"><span>Visual Studio .NET 2012 +</span></li>
    </ul>
    <p class="c4"><span>If you run the project in Visual Studio 2013 or 2015, just go through the auto-upgrade wizard. Versions prior to Visual Studio .NET 2012 are not supported.</span></p>
</div>