<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">2. Add Web Forms User Control.</h2>
    <p class="c4"><span>The second thing you need to do is to add the <strong>Web Forms User Control. </strong>Create folder for your controls using name <strong>Controls</strong>. Right click on <strong>Controls</strong>, then select <strong>Add</strong> and click on <strong>New Item</strong>.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/add_user_control1.png" style="width: 785px; height: 299px ; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>Click on <strong>Web Forms User Control</strong>, and write <strong>HighchartsControl.ascx</strong> in the name field.</span></p>
    <p class="c4"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/add_user_control2.png" style="width: 716.00px; height: 494.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
</div>

