<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    @*<p class="c4"><a href="~/downloads/web_forms/SampleWebFormsApp.zip">Download</a> sample ASP.NET Web Forms project, where you can review how to use our library.</p>*@
    <p class="c4"><span>Click on the following <a href="~/downloads/web_forms/SampleWebFormsApp.zip">link</a> to download a hello world example.</span></p>
    <p class="c4"><span>Be sure to have the right <a href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">requirements</a> and <a href="~/Highcharts/Demo/Docs?section=VS">sitting</a>.</span></p>
    <p class="c4"><span>Feel free to contact our support team if you use our forum and if you need more help.</span></p>
</div>

