<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <p class="c4"><span>Open your *.aspx for your web page file.</span></p>
    <p><span>
    1. Register control.</br>
    2. Include required Javascript files.</br>
    3. Use your control with the chart.</br></span>
        <pre>
        <xmp style="margin-top:-40px; margin-bottom:-20px;">
<%@@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication11._Default" %>
<%@@ Register TagPrefix="hc" TagName="Chart" Src="~/Controls/HighchartsControl.ascx" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <hc:Chart runat="server"></hc:Chart>
</asp:Content>
</xmp>
</pre>
    </p>
    <p class="c4"><img alt="" src="~/Content/images/aspx.png" style="width: 989.00px; height: 443.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>

    
    
</div>

