<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <p class="c4"><strong>This step is needed for versions of Highcharts or Highstock wrapper 5.0.6323 or older.</strong></p>
    <p class="c4"><span>Add System.Web.Mvc.dll reference. </span></p>
    <p class="c4"><span>Right-click the &ldquo;References&rdquo; section of the project, then select &ldquo;Add Reference...&rdquo;.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/image05.png" style="width: 550.00px; height: 203.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>On the left corner choose &ldquo;Framework&rdquo; below &ldquo;Assemblies&rdquo; and on the right corner inside search conrol type System.Web.Mvc.</br>Check checkbox for the proper position on the list and click &ldquo;OK&rdquo;.</span></p>
    <p class="c4"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/system_web_mvc.png" style="width: 815.00px; height: 371.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
</div>

