<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Trial and Licensed Versions</h2>

    <p class="c1"><span></span></p><p class="c4"><span>The trial is a fully functional and feature complete version of Highcharts that expires after 30 days of usage. The licensed version of Highcharts is identical in every way to the trial with the exception that it never expires. The only thing that is needed to replace the Trial with Licensed version is to add serial key to Web.config file into <code>appSettings</code> section with <code>key = "Highcharts"</code>.<br /> Example: <code>&lt;add key="Highcharts" value="PlaceForSerialKey"/&gt;</code><br/><br />Alternative solution is to pass serial key as argument of <code>HighchartsRenderer</code> or <code>HighstockRenderer</code> constructor.</span></p>
    <p class="c4"><span>Visit our <a href="https://shop.highsoft.com/dotnet">shop</a> to acquire the license.</span></p>
</div>
