<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Visual Studio .NET</h2>

    <p class="c1"><span></span></p><p class="c4"><span>Highcharts for ASP.NET MVC has a server-side, which include a DLL library, and a client-side that is a set of Javascript code files. Both sides are required to set up a chart.</span></p>
    <p class="c4"><span>There are two methods to add the server-side (DLL library) to your project:</span></p>
    <p class="c4"><span><strong>1. First method</strong><br/>Download dll files from <a href="~/downloads/HighchartsStandard.zip" onclick="ga('send', 'event', 'Downloads', 'Highcharts-Dotnet');">here&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a> and add proper reference to your project.</span></p>
    <p class="c4"><span><strong>2. Second method</strong><br/>Use NuGet to download Highsoft's packages.</span></p>
    <p class="c4"><span>Use the search bar to look for the official Highsoft’s library. Type &ldquo;Highsoft.Higcharts&rdquo; or &ldquo;Highsoft.Highstock&rdquo;.</span></p>
</div>
