<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Introduction</h2>
    <p class="c1"><span></span></p><p class="c4"><span>This section will show you how to create a chart using Highcharts .NET in few simple steps.<br/>
Before you start, be sure to have the right <a href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">requirements</a> and <a href="~/Highcharts/Demo/Docs?section=VS">settings</a>.</span></p>
    <br/>
    <ul>
        <li><a href="~/Highcharts/Demo/Docs?section=WFFirstChart1">Include library reference</a></li>
        <li><a href="~/Highcharts/Demo/Docs?section=WFFirstChart2">Add User Control</a></li>
        <li><a href="~/Highcharts/Demo/Docs?section=WFFirstChart3">Create and render the chart</a></li>
        <li><a href="~/Highcharts/Demo/Docs?section=WFFirstChart4">Add User Control to the web page</a></li>
    </ul>
    <div class="c4">The project used in this section is available <a href="~/downloads/WebForms/WebFormsSamples.zip">here</a>.</div>
</div>

