<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Add User Control to the web page.</h2>
    <p class="c4"><span>Open the web page in this case <strong>Default.aspx</strong>, and follow the instructions bellow:</span></p>
    <ol>
        <li>Register <strong>HighchartsControl</strong>.<br />
        <pre><%@@ Register TagPrefix="hc" TagName="Chart" Src="~/Controls/HighchartsControl.ascx" %></pre></li>
        
        <li>Include required Javascript files.<br/>
        <pre><xmp style="margin-top:-20px; margin-bottom: unset;">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script></xmp></pre></li>
        <li>
            Use <strong>HighchartControl</strong>.<br />
            <pre><xmp style="margin-top:unset; margin-bottom: unset;"><hc:Chart runat="server"></hc:Chart></xmp></pre>
        </li>
    </ol>
    <p>Sample code below:</p>
        <pre>
        <xmp style="margin-top:-40px; margin-bottom:-20px;">
<%@@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication11._Default" %>
<%@@ Register TagPrefix="hc" TagName="Chart" Src="~/Controls/HighchartsControl.ascx" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <hc:Chart runat="server"></hc:Chart>
</asp:Content>
</xmp>
</pre>
</div>

