<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/bullet.js"></script>

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

@{ var chartOptions = new Highcharts
    {
        Chart = new Highsoft.Web.Mvc.Charts.Chart
        {
            Inverted = true,
            MarginLeft = 135,
            Type = ChartType.Bullet,
            MarginTop = 40,
            //MarginBottom = 40,
            Height = 150
        },
        Title = new Title
        {
            Text = "2017 YTD"
        },
        Legend = new Legend
        {
            Enabled = false
        },
        XAxis = new List<XAxis>
{
        new XAxis
        {
            Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">Revenue</span><br/>U.S. $ (1,000s)" }
        }
    },
        YAxis = new List<YAxis>
{
        new YAxis
        {
            GridLineWidth = 0,
            PlotBands = new List<YAxisPlotBands>
{
                new YAxisPlotBands
                {
                    From = 0,
                    To = 150,
                    Color = "#666"
                },
                new YAxisPlotBands
                {
                    From = 150,
                    To = 225,
                    Color = "#999"
                },
                new YAxisPlotBands
                {
                    From = 225,
                    To = 9e9,
                    Color = "#bbb"
                }
            },
            Title = new YAxisTitle
            {
                //Enabled = false
            }
        }
    },
        PlotOptions = new PlotOptions
        {
            Series = new PlotOptionsSeries
            {
                Color = "#000"
            }
        },
        Credits = new Credits
        {
            Enabled = false
        },
        Exporting = new Exporting
        {
            Enabled = false
        },
        Series = new List<Series>
{
        new BulletSeries
        {
            Data = new List<BulletSeriesData>
{
                new BulletSeriesData
                {
                    Y = 275,
                    Target = 250
                }
            }
        }
    },
        Tooltip = new Tooltip
        {
            PointFormat = "<b>{point.y}</b> (with target at {point.target})"
        }
    };

    chartOptions.ID = "container1";
    var renderer = new HighchartsRenderer(chartOptions);
}

@Html.Raw(renderer.RenderHtml())


@{ var chartOptions2 = new Highcharts
    {
        Chart = new Highsoft.Web.Mvc.Charts.Chart
        {
            Inverted = true,
            MarginLeft = 135,
            Type = ChartType.Bullet,
            Height = 120
        },
        Title = new Title
        {
            Text = null
        },
        Legend = new Legend
        {
            Enabled = false
        },
        XAxis = new List<XAxis>
{
            new XAxis
            {
                Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">Profit</span><br/>%" }
            }
        },
        YAxis = new List<YAxis>
{
            new YAxis
            {
                GridLineWidth = 0,
                PlotBands = new List<YAxisPlotBands>
{
                    new YAxisPlotBands
                    {
                        From = 0,
                        To = 20,
                        Color = "#666"
                    },
                    new YAxisPlotBands
                    {
                        From = 20,
                        To = 25,
                        Color = "#999"
                    },
                    new YAxisPlotBands
                    {
                        From = 25,
                        To = 100,
                        Color = "#bbb"
                    }
                },
                Labels = new YAxisLabels
                {
                    Format = "{value}%"
                }
            },
        },
        PlotOptions = new PlotOptions
        {
            Series = new PlotOptionsSeries
            {
                Color = "#000"
            }
        },
        Credits = new Credits
        {
            Enabled = false
        },
        Exporting = new Exporting
        {
            Enabled = false
        },
        Series = new List<Series>
{
            new BulletSeries
            {
                Data = new List<BulletSeriesData>
{
                    new BulletSeriesData
                    {
                        Y = 22,
                        Target = 27
                    }
                }
            }
        },
        Tooltip = new Tooltip
        {
            PointFormat = "<b>{point.y}</b> (with target at {point.target})"
        }
    };

    chartOptions2.ID = "container2";
    var renderer2 = new HighchartsRenderer(chartOptions2);
}

@Html.Raw(renderer2.RenderHtml())

@{ var chartOptions3 = new Highcharts
    {
        Chart = new Highsoft.Web.Mvc.Charts.Chart
        {
            Inverted = true,
            MarginLeft = 135,
            Type = ChartType.Bullet,
            Height = 120
        },
        Title = new Title
        {
            Text = null
        },
        Legend = new Legend
        {
            Enabled = false
        },
        XAxis = new List<XAxis>
{
        new XAxis
        {
            Categories = new List<string> { "<span style=\"font-size:13px; font-weight:bold;\">New Customers</span><br/>Count" }
        }
    },
        YAxis = new List<YAxis>
{
        new YAxis
        {
            GridLineWidth = 0,
            PlotBands = new List<YAxisPlotBands>
{
                new YAxisPlotBands
                {
                    From = 0,
                    To = 1400,
                    Color = "#666"
                },
                new YAxisPlotBands
                {
                    From = 1400,
                    To = 2000,
                    Color = "#999"
                },
                new YAxisPlotBands
                {
                    From = 2000,
                    To = 9e9,
                    Color = "#bbb"
                }
            },
            Labels = new YAxisLabels
            {
                Format = "{value}"
            }
        }
    },
        PlotOptions = new PlotOptions
        {
            Series = new PlotOptionsSeries
            {
                Color = "#000"
            }
        },
        Credits = new Credits
        {
            Enabled = true
        },
        Exporting = new Exporting
        {
            Enabled = false
        },
        Series = new List<Series>
{
        new BulletSeries
        {
            Data = new List<BulletSeriesData>
{
                new BulletSeriesData
                {
                    Y = 1650,
                    Target = 2100
                }
            }
        }
    },
        Tooltip = new Tooltip
        {
            PointFormat = "<b>{point.y}</b> (with target at {point.target})"
        }
    };

    chartOptions3.ID = "container3";
    var renderer3 = new HighchartsRenderer(chartOptions3);
}

@Html.Raw(renderer3.RenderHtml())