<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Include JavaScript files</h2>
    
    <p class="c1"><span></span></p><p class="c4"><span>There are two ways to reference highcharts JavaScript files.</span></p>
    <p class="c4"><span style="font-weight:500">1. Online reference</span></p>
    <p class="c4"><span>All you have to do is to add the link to Highcharts javascript online script using the following code.</span></p>
    <p class="c4"><pre>...<br/>&lt;script src=&quot;<a class="c10" href="https://www.google.com/url?q=http://code.highcharts.com/highcharts.js&amp;sa=D&amp;usg=AFQjCNGBbkFGUUMKmG6guTymD0W3h-2mhg" style="color:black;">http://code.highcharts.com/highcharts.js</a>&quot;&gt;&lt;/script&gt;<br/>...</pre></p>
    <p class="c1"><span class="c7"></span></p>
    <br/>
    <p class="c4"><span style="font-weight:500">2. Local reference</span></p>
    <p class="c4"><span>You can either download Highcharts JavaScript from this <a href="https://www.highcharts.com/download">link</a>.</span><br/></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>Some of the advanced chart types and features in Highcharts are not defined in the main &ldquo;highcharts.js&rdquo; file and are available as separate modules. Depending on the chart you create, you may need to add one or several of them to your page. Here is a complete list of the additional modules that are available:</span></p>
    <p class="c4"><pre>...<br/>&lt;script src=&quot;http://code.highcharts.com/modules/data.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/highcharts-3d.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/heatmap.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/highcharts-more.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/funnel.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/exporting.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/heatmap.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/treemap.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;http://code.highcharts.com/modules/drilldown.js&quot;&gt;&lt;/script&gt;<br />&lt;script src=&quot;<a class="c10" href="https://www.google.com/url?q=http://code.highcharts.com/modules/solid-gauge.js&amp;sa=D&amp;usg=AFQjCNFNnQj_RrquYSNNRNsSUH2CCb7bkQ" style="color:black;">http://code.highcharts.com/modules/solid-gauge.js</a>&quot;&gt;&lt;/script&gt;<br />...</pre>
    <p class="c1"><span></span></p>
</div>
