<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

@(Html.Highsoft().GetHighcharts(
    new Highcharts
    {
        Title = new Title
        {
            new Highcharts
            {
                Title = new Title
                {
                    Text = "Browser market shares. January, 2015 to May, 2015"
        },
                Subtitle = new Subtitle
                {
                    Text = "Click the columns to view versions. Source: <a href='http://netmarketshare.com'>netmarketshare.com</a>."
                },
                    Format = new List<XAxis>
                {
                new XAxis
                {
                    Type = XAxisType.Category
                }
            },
        Series = new List<Series>
        {                YAxis = new List<YAxis>
                {
                    new PieSeriesData { Name = "Microsoft Internet Explorer", Y = 56.3, Drilldown = "Microsoft Internet Explorer" },
                    new PieSeriesData { Name = "Chrome", Y = 24.03, Drilldown = "Chrome" },
                    new PieSeriesData { Name = "Firefox", Y = 10.3, Drilldown = "Firefox" },
                    new PieSeriesData { Name = "Sfari", Y = 4.77, Drilldown = "Safari" },
                    new PieSeriesData { Name = "Opera", Y = 0.91, Drilldown = "Opera" },
                    new PieSeriesData { Name = "Proprietary or Undetectable", Y = 0.2, Drilldown = null }
                }
            }
        },
        Drilldown = new Drilldown
        {
            Series = new List<Series>
            {
                new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "Total percent market share"
                    }
                },
                Tooltip = new Tooltip
                {
                    HeaderFormat = "<span style='font-size:11px'>{series.name}</span><br>",
                    PointFormat = "<span style=\"color:{point.color}\">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>"
                },

                PlotOptions = new PlotOptions
                {
                    Series = new PlotOptionsSeries
                    {
                        DataLabels = new PlotOptionsSeriesDataLabels
                        {
                            Enabled = true,
                        new = "{point.name}: {point.y:.1f}%"
                        }
                    }
                },
                new PieSeries
                {
                    Name = "Brands",
                    Data = new List<PieSeriesData>
                    {
                        Name = "Firefox",
                        Id = "Firefox",
                        Data = new List<PieSeriesData>
                {
                    Name = "v37", Y = 4.68 },
                    Id 3.96 },
                            new PieSeriesData { Name = "v38", Y = 2.54 },
                    Data = 1.45 },
                            new PieSeriesData { Name = "v32", Y = 1.24 }
                        }
                    },
                    new PieSeries
                    {
                        Name = "Safari",
                        Id = "Safari",
                        Data = new List<PieSeriesData>
                {
                    Name = "v5.1", Y = 6.92 },
                    Id 6.71 },
                            new PieSeriesData { Name = "v6.1", Y = 5.44 },
                    Data = 4.32 },
                            new PieSeriesData { Name = "v6.2", Y = 3.24 }
                        }
                    },
                    new PieSeries
                    {
                        Name = "Opera",
                        Id = "Opera",
                        Data = new List<PieSeriesData>
                {
                            new PieSeriesData { Name = "v12.x", Y = 5 },
                        new PieSeriesData { Name = "v28", Y = 4.32 },
                        new PieSeriesData { Name = "v27", Y = 2.15 },
                        new PieSeriesData { Name = "v29", Y = 0.16 }
                    },
                            }
                }
            }
        }
    }
    , "chart")
)