<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Server-Side System Requirements</h2>
    <p>Highcharts .NET uses .NET Standard 2.0.</p>
    <p><a href="https://dotnet.microsoft.com/platform/dotnet-standard#versions">Interactive table of .NET Standard versions.</a></p>
</div>