<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Steps to upgrade your project to .NET Standard library</h2>
    <p class="c4"><span>If you have previously used the Highcharts wrapper for .NET, some small adjustments need to be made to your code when upgrading to the .NET Standard of Highcharts .NET, which uses Json.NET instead of JavaScriptSerialiazer.</span></p>
    <p class="c4"><span>Here are the steps required to upgrade your projects.</span></p>
    <p class="c4"><span>1. Uninstall .NET Framework wrapper from the your old project</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_1.png"></p>
    <p class="c4"><span>2. Add Newtonsoft.Json v12 package from NuGet</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_2.png"></p>
    <p class="c4"><span>3. Download library from NuGet. Choose Highsoft.Highcharts or Highsoft.Highstock package.</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_3.png"></p>
    <p class="c4"><span>4. Add <code>using</code> directive to the view file</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_4.png"></p>
    <p class="c4"><span>5. Remove call of GetHighcharts method</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_5.png"></p>
    <p class="c4"><span>6. Create a Highcharts object with the following options</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_6.png"></p>
    <p class="c4"><span>7. Assign ID of div to chartOptions.ID</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_7.png"></p>
    <p class="c4"><span>8. Create HighchartsRenderer object</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_8.png"></p>
    <p class="c4"><span>9. Render to HTML</span></p>
    <p class="c4"><img alt="" src="~/Content/images/Upgrade_9.png"></p>

</div>