<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Introduction</h2>
    <p class="c1"><span></span></p><p class="c4"><span>This section will show you how to create a chart using Highcharts.Net in few simple steps.
Before you start, be sure to have the right <a href="~/Highstock/Demo/Docs?section=ServerSideRequirements">requirements</a> and <a href="~/Highstock/Demo/Docs?section=VS">settings</a>.</span></p>
    <br/>
        <ul>
            <li><a href="~/Highstock/Demo/Docs?section=FirstChart1">Add reference to the view</a></li>
            <li><a href="~/Highstock/Demo/Docs?section=FirstChart2">Include JavaScript files</a></li>
            <li><a href="~/Highstock/Demo/Docs?section=FirstChart3">Define the chart in the view</a></li>
            <li><a href="~/Highstock/Demo/Docs?section=FirstChart4">Add data</a></li>
        </ul>
    <div class="c4">The project used in this section is available <a href="~/downloads/MVC/MVCSamples.zip">here</a>.</div>
</div>

