<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Server-Side System Requirements</h2>
    <p>Highcharts.Net requires the following framework:</p>
    <ul>
        <li class="c4 c11"><span>ASP.NET 4.x +</span></li>
        <li class="c4 c11"><span>ASP.NET MVC 4 + or ASP.NET Web Forms 4 +</span></li>
    </ul>
</div>