<div style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Visual Studio .NET</h2>

    <p class="c1"><span></span></p><p class="c4"><span>Highcharts for ASP.NET MVC has a server-side, which include a DLL library, and a client-side that is a set of Javascript code files. Both sides are required to set up a chart.</span></p>
    <p class="c4"><span>There are two methods to add the server-side (DLL library) to your project:</span></p>
    <p class="c4"><span><strong>1. First method</strong></br>Create a new ASP.NET Web Application (.NET Framework) project (choose template MVC or Web Forms).</br> Right-click on &ldquo;References&rdquo; section of the project, then select &ldquo;Add Reference...&rdquo;.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 550.00px; height: 203.00px;"><img alt="" src="~/Content/images/image05.png" style="width: 550.00px; height: 203.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c1"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>Browse to the /bin folder of the location where you have unzipped the Highcharts for ASP.NET MVC, then add the Highcharts.Web.Mvc.dll file to your project.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 601.70px; height: 152.00px;"><img alt="" src="~/Content/images/image01.png" style="width: 601.70px; height: 152.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c1"><span></br></span></p>
    <p class="c1"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span><strong>2. Second method</strong></br>Create a new ASP.NET Web Application (.NET Framework) project (choose template MVC or Web Forms).</br>Right-click the &ldquo;References&rdquo; section of the project, then select &ldquo;Manage NuGet Packages&rdquo;.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 429.00px; height: 365.00px;"><img alt="" src="~/Content/images/nuget1.png" style="width: 429.00px; height: 365.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>Use the search bar to look for the official Highsoft’s library. Type &ldquo;Highsoft.Higcharts&rdquo; or &ldquo;Highsoft.Highstock&rdquo;, then click on the library &ldquo;Highsoft.Highcharts&rdquo; and then select &ldquo;Install&rdquo;.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/nuget2.png" style="width: 1113.00px; height: 204.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
    <p class="c1"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>When the installation process is done, the Highcharts.Web.Mvc file should be included in your references.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 556.00px; height: 241.00px;"><img alt="" src="~/Content/images/image06.png" style="width: 556.00px; height: 241.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c1"><span></span></p>
    <p class="c1"><span></span></p>

</div>
