<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <h2 style="font-weight:500;">Include the library reference</h2>
    <p class="c4"><span>These steps are only needed for versions of Highcharts or Highstock wrapper 5.0.6323 or older.<br />Jump to <a href="@Url.Action("Docs", "Demo", new { section = "WFFirstChart2"} )">Add User Control</a> for the newest versions.</span></p>
    <p class="c4"><span>Right-click the <strong>References</strong> section of the project, then select <strong>Add Reference...</strong>.</span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/image05.png" style="width: 550.00px; height: 203.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
    <p class="c1"><span></span></p>
    <p class="c4"><span>On the left corner choose <strong>Framework</strong> below <strong>Assemblies</strong> and on the right corner inside search control type <strong>System.Web.Mvc</strong>.<br/>Check checkbox for the proper position on the list and click <strong>OK</strong>.</span></p>
    <p class="c4"><span></span></p>
    <p class="c1"><span></span></p>
    <p class="c4"><img alt="" src="~/Content/images/System_web_mvc2.png" style="width: 611.00px; height: 277.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></p>
</div>

