<div class="doc" style="text-align:left; margin:10px; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px">
    <p class="c4"><span>Click on the following <a href="~/downloads/web_forms/SampleWebFormsApp.zip">link</a> to download a hello world example.</span></p>
    <p class="c4"><span>Be sure to have the right <a href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">requirements</a> and <a href="~/Highcharts/Demo/Docs?section=VS">settings</a>.</span></p>
    <p class="c4"><span>If you need more help, feel free to contact our <a href="https://www.highcharts.com/support">support team</a> or/and use our <a href="https://forum.highcharts.com/">forum</a>.</span></p>
</div>

