<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive charts." />
    <title>Controller</title>
</head>
<body>
    <div style="color:burlywood; background-color:black">
        <pre>@ViewBag.ControllerCode</pre>
    </div>
</body>
</html>
