@using HighSoft.Web.Mvc

<!DOCTYPE html>
<html lang="en-us">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <title>HighSoft Charts for ASP.NET MVC</title>
    <!-- Use Microsoft's CDN for the jQuery library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-2.1.3.min.js"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/highcharts-all.js")"></script>
</head>
<body>
    <div>
        @(Html.HighSoft().HighCharts(
            new HighCharts
            {                
                Chart = new Chart
                {
                    Width = 500,
                    Height = 300                    
                },
                Series = new Series
                {
                     Data = new Data
                     {
                          
                     }
                }
                    
            }
            , "DemoChart")
         )
    </div>
</body>
</html>

